<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Course</title>
</head>

<body>
    <!--navigation -->

    <%- include('partials/nav.ejs') %>

        <div class="form-editcourse">
            <form method="post" action="/editCourse" class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">

                    <input type="hidden" name="id" value="<%= id %>">

                    <label for="name" class="form-label">Course Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" placeholder="Management" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide course name.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="duration" class="form-label">Duration</label>
                    <input type="text" class="form-control" id="duration" name="duration" value="<%= data.duration %>" placeholder="3 year" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide course duration.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="fees" class="form-label">Fees</label>

                    <input type="number" class="form-control" id="fees" name="fees" value="<%= data.fees %>" placeholder="3000" required>
                    <div class="invalid-feedback">
                        Please provide fees details.
                    </div>

                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateSuccess">
                        Update
                      </button>

                    <!-- Modal -->
                    <div class="modal fade" id="updateSuccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Success
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <%= message.upd %>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/"><button type="button" class="btn btn-primary">Ok</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function(form) {
                        form.addEventListener('submit', function(event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
        </script>

        <%- include('partials/footer.ejs') %>
</body>

</html>