<!DOCTYPE html>
<html lang="en">

<head>
    <title>Course Management System</title>
</head>

<body>

    <!--navigation -->

    <%- include('partials/nav.ejs') %>

        <div id="empty-table-display">
            <h3>No Course Available</h3>
            <a href="/addCourse"><button class="btn btn-outline-success" type="submit">Add Course</button></a>
        </div>

        <% if (data.length !== 0) { %>
            <script>
                document.getElementById("empty-table-display").style.display = "none";
            </script>
            <% } %>

                <!-- <script> 
            document.getElementById("empty-table-display").style.display = "none";
        </script> -->

                <div id="course-table">
                    <table class="table caption-top">
                        <caption>All Courses</caption>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Fees</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < data.length ; i++) { 
                                var j = i+1;
                                %>
                                <tr>
                                    <th scope="row">
                                        <%= j %>
                                    </th>
                                    <td>
                                        <%= data[i].name %>
                                    </td>
                                    <td>
                                        <%= data[i].duration %>
                                    </td>
                                    <td>
                                        <%= data[i].fees %>
                                    </td>
                                    <td>
                                        <form method="get" action="<%= '/editCourse/' + data[i].id %>"><button type="submit" id="button-icon"><img id="icon" src="https://img.icons8.com/emoji/48/000000/pencil-emoji.png" /></button></form>
                                    </td>
                                    <td>


                                        <button type="button" id="button-icon" data-bs-toggle="modal" data-bs-target="#deleteConfirm<%= data[i].id %>">
                                            <img id="icon" src="https://img.icons8.com/emoji/48/000000/wastebasket-emoji.png" />
                                          </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="deleteConfirm<%= data[i].id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            <%= message.del %>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <a href="<%= '/deleteCourse/' + data[i].id %>"><button type="button" class="btn btn-primary">Delete</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <%}%>

                        </tbody>
                    </table>
                </div>

                <% if(data.length === 0) { %>
                    <script>
                        document.getElementById("course-table").style.display = "none";
                    </script>
                    <%}%>

                        <%- include('partials/footer.ejs') %>
</body>

</html>